@page
@model ASP_Task4.Pages.Product.IndexModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Products)
        {
            <tr>
                <td scope="row">@item.Id</td>
                <td scope="row">@item.Name</td>
                <td scope="row">@item.Price$</td>
                <td scope="row">
                    <form method="post" asp-page-handler="Edit">
                        <input type="hidden" name="id" value="@item.Id" />
                        <button type="submit" class="btn btn-outline-warning">Edit</button>
                    </form>
                </td>
                <td>
                    <form method="post" asp-page-handler="Delete">
                        <input type="hidden" name="id" value="@item.Id" />
                        <button type="submit" class="btn btn-outline-danger">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

<form class="col-5" method="post">
    <h2 class="h2">Add Form</h2>
    <div class="mb-3">
        <label class="form-label">Product Name</label>
        <input asp-for="NewProduct.Name" class="form-control" />
    </div>
    <div class="mb-3">
        <label class="form-label">Product Price</label>
        <input asp-for="NewProduct.Price" class="form-control" />
    </div>
    <button type="submit" class="btn btn-success">Add New Product</button>
</form>

<hr />

<form class="col-5" method="post" asp-page-handler="Update">
    <h2 class="h2">Edit Form</h2>
    <input type="hidden" asp-for="EditProduct.Id" />
    <div class="mb-3">
        <label class="form-label">Edit Name</label>
        <input asp-for="EditProduct.Name" class="form-control" />
    </div>
    <div class="mb-3">
        <label class="form-label">Edit Price</label>
        <input asp-for="EditProduct.Price" class="form-control" />
    </div>
    <button type="submit" class="btn btn-outline-secondary">Save Changes</button>
</form>
